.create-user-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 85vw;
  height: fit-content;
  animation: fadeIn 0.3s ease forwards;
  z-index: 1001; /* Ensure popup is above underlay */
}

.create-user-popup.open {
  background-color: #333;
  color: #ffffff; /* Adjust text color if needed */
}

.create-user-label {
  background-color: #2b7985;
  color: white;
  padding: 12px 10px;
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  justify-content: space-between; /* Aligns the CloseIcon to the right */
  align-items: center; /* Aligns the CloseIcon vertically */
}

.create-user-panel {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }

  .input-field {
    margin-bottom: 10px;
    background-color: #ccc;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

.form-container {
  max-height: 600px;
  // overflow-y: auto;
}

/* CloseIcon styles */
.create-user-label > svg {
  cursor: pointer;
}

.backdrop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(8px); /* Apply blur effect */
  z-index: 1100; /* Ensure it's above other elements, including the popup */
  pointer-events: none; /* Allow click events to pass through the overlay */
  overflow: hidden; /* Hide overflow content */
  -webkit-backdrop-filter: blur(8px); /* Fallback for older browsers */
}
div.form-container input {
  background-color: rgba(232, 240, 254, 0.4);
  height: 1px !important;
}

.labels {
  font-size: small !important;
  margin-bottom: 0.3px !important;
}
