.loginpage {
  display: flex;
  height: 100vh !important;
  background:
    linear-gradient(
        to right,
        rgba(0, 95, 135, 0.4) 0%,
        rgba(92, 124, 138, 0.4) 100%
      )
      left/cover no-repeat,
    url("../../../../public/images/login-page-bg.jpeg") right/cover no-repeat;
  box-sizing: inherit;
}
.loginpage-left {
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #00000094;
  padding-top: 6%;
  margin-top: 7%;
  margin-left: 2%;
  margin-bottom: 6%;
  margin-right: 20%;
  border: 1px solid transparent;
  border-radius: 11px;
  position: relative;
}
.siemensLogo {
  width: 53%;
  position: absolute;
  top: 50px;
}
.loginbtn:hover {
  border: 1px solid #fff !important;
  color: white !important;
  background-color: #4e4b4b !important;
}
