// Add your custom styles here
.table-container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 7px;
  text-align: left;
  border: 1px solid #ddd;
  height: 0.5rem !important;
}

.table th {
  background-color: #006487;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.table-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
