.iznLogoNav {
  margin-left: auto;
  width: 130px;
  height: auto;
  vertical-align: middle;
}
@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
    min-height: 30px !important;
  }
}
@media (min-width: 600px) {
  .css-1r9jet7 {
    min-height: 32px !important;
  }
}
.css-19midj6 {
  padding: 1px !important;
}
